* {
    margin: 0;
    padding: 0;
}

h1 {
    color: rgb(79, 83, 87);
    font-style: italic;
    margin-top: 40px 0 40px 0;
}

body {
    background-color: rgb(123, 143, 137);
}

.insers, form {
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input, button {
    width: 250px;
    height: 25px;
    border-radius: 20px;
    padding: 0 15px 0 15px;
}

button {
    background-color: rgb(161, 207, 207);
    color: rgb(107, 116, 116);
}